server:
    port: 8081
spring:
  datasource:

    url: jdbc:mysql://localhost:3306/auth
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    hikari:
      maximum-pool-size: 10
      connection-timeout: 20000
      idle-timeout: 300000
      max-lifetime: 600000
      validation-timeout: 5000
      leak-detection-threshold: 0
      initialization-fail-timeout: -1

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

    hibernate:
      ddl-auto: update

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.example.auth: DEBUG

security:
  jwt:
    secret: ${JWT_SECRET:Q8mT4ZpW2xR7sN1bV6yKjF3hG9cD0uEw}
    issuer: ${JWT_ISSUER:auth.subString.com}
    access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:3600} # 15 minutes
    refresh-ttl-seconds: ${JWT_REFRESH_TTL_SECONDS:1209600} # 7 days
    refresh-token-cookie-name: ${JWT_REFRESH_COOKIE_NAME:refreshToken}
    cookie-secure: ${JWT_COOKIE_SECURE:true} # Set to true in production with HTTPS
    cookie-http-only: ${JWT_COOKIE_HTTP_ONLY:true}
    cookie-same-site: ${JWT_COOKIE_SAME_SITE:lax} # Options: Strict, Lax, None


